.about {
    width: 100%;
    height: 100vh;
    opacity: 0.97;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.about__container--left {
    background: rgba(0, 0, 0, 0.959);
}

.about__container--right {
    background: rgb(117, 11, 11);
}
