.about {
    width: 100%;
    height: 100vh;
    opacity: 0.99;
    display: flex;
    flex-direction: row;
    position: relative;
}
.about__text {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 3rem;
    max-width: 600px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
}
.about__description {
    display: block;
    font-size: 1.8rem;
}
.about__quote {
    display: block;
    margin-top: 5rem;
    font-style: italic;
    font-size: 1.2rem;
    border-right: thick solid rgba(255, 0, 0, 0.425);
    border-radius: 0.7rem;
    color: rgba(255, 255, 255, 0.884);
}
.about__quote-sub {
    margin-top: 0.5rem;
}
.about__heading {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}
.about__photo {
    background: rgba(99, 99, 99, 0.03);
    width: 30%;
    height: 32rem;
    position: absolute;
    left: 20%;
    top: 11%;
    display: flex;
    flex-direction: column;
    border-radius: 5rem;
    padding: 3rem;
}
.about__photo img {
    display: block;
    border: 1px solid black;
    border-radius: 5rem;
    filter: grayscale(30%);
}
.about__btn {
    outline: none;
    margin-top: 3rem;
    height: 3rem;
    border-radius: 5rem;
    width: 100%;
    color: white;
    background: rgba(255, 0, 0, 0.308);
    border: 1px solid black;
}
.about__btn:hover {
    background: rgba(255, 0, 0, 0.425);
    text-decoration: underline;
    cursor: pointer;
}
.about__btn a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    width: 100%;
}
.about__left {
    background: #121212;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.arrow {
    height: 20rem;
    width: 20rem;
    background: red;
}

