@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

html, body {
    width: 100%;
}
a, a:visited, a:active {
    color: inherit;
}

/* Header Styling */
.header {
    color: #e7e7e7;
    height: 8vh;
    width: 100%;
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    justify-content: flex-end;
}

.navbar {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__links li {
    margin: 0 2rem;
    align-self: center;
}

.navbar__links {
    text-decoration: none;
    height: 100%;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    transition-duration: 1s;
}
.navbar__links:hover {
    color: #5353cf;
    border-bottom: thin solid rgba(255, 255, 255, 0.048);
    cursor: pointer;
}


